.contact-list
{
    position: relative;
    background-color: #ffffff;
    height : 100%;
    float: left;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.contact-list .search
{
    margin: 5px;

    background: url("../img/search.png") no-repeat scroll 7px 7px;
    padding-left:30px;
}

.contact-list ul
{
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 64px;
}

.contact-list ul li
{
    min-height: 80px;
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
}

.contact-list ul li:nth-child(odd)
{
    background-color: #eeeeee;
}

.contact-list ul li:nth-child(even)
{
    background-color: #ffffff;
}

.contact-list .selected
{
    background-color: #ccefff !important;
}


.contact-summary div
{
    max-width: 60%;
    float: left;
}

.contact-list #add-button .plus
{
    font-size: 32px;
}

.contact-summary .photo
{
    margin: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.contact-summary img
{
    height: 64px;
    width:auto;
}

.contact-summary p
{
    font-size: 1.2em;
}

.contact-summary .arrow
{
    margin-top: 30px;
    margin-right: 5px;
    width: 16px; 
    height: 16px; 
    
    border-right: 5px solid #777777;
    border-top: 5px solid #777777;
    transform: rotate(45deg);
    content: "";

    float: right;
}

@media (min-width:800px) 
{
    .contact-list
    {
        width: 400px;
    }
    
    .contact-summary .arrow
    {
        display: none;
    }
}

@media (max-width: 800px)
{
    .contact-list
    {
        width: 100%;
        min-width: 320px;
    }
}