.contact-view
{
    flex-grow: 1;
    background-color: #fdfdfd;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto !important;
}

.contact-view .photo
{
    float: left;
    margin: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    cursor: pointer;
}

.contact-view .header
{
    width: 100%;
    height: 112px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.contact-view .name
{
    float: left;
    min-width: 150px;
    font-size: 26px;
    padding: 15px;
    flex-grow: 1;
    color: #777777;
    white-space: nowrap;
}

.contact-view .row
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 45px;
    padding: 10px;
    display: flex;
}

.contact-view img
{
    height: 96px;
    width:auto;
}

.contact-view .label 
{
    float: left;
    min-width: 100px;
    text-align: right;
    padding: 10px;
    font-size: 16px;
    color: #cccccc;
    cursor: default;
}

.contact-view .value 
{
    float: left;
    min-width: 150px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    margin-left: 20px;
    color: #777777;
    flex-grow: 1;
    white-space: pre-wrap;
}

.contact-view .line
{
    border-bottom: 1px solid #cccccc;
    height: 1px;
}

.contact-view .invaild
{
    border: 1px solid #ff7777;
}

.contact-view #choose-image
{
    visibility: hidden;
}

.contact-view .star
{
    margin-top: 22px;
    margin-right: 10px;
    float: right;
    font-size: 30px;
}

.contact-view .star-off:before
{
    color: #cccccc;
    content: "\2606";
}

.contact-view .star-off:hover:before
{
    color: #ffee88;
    content: "\2606";
}

.contact-view .star-on:hover:before
{
    color: #ffee88;
    content: "\2605";
}

.contact-view .star-on:before
{
    color: #ffcc55;
    content: "\2605";
}


.contact-list #footer .phone
{
    font-size: 32px;
}

.contact-list #footer .email
{
    font-size: 32px;
}

.back-icon
{
    margin-top: 15px;
    margin: 15px;
    width: 16px; 
    height: 16px; 
    
    border-right: 5px solid #cccccc;
    border-top: 5px solid #cccccc;
    transform: rotate(225deg);
    content: "";

    float: left;
}

@media (min-width:800px) 
{
    .contact-view #back
    {
        display: none; 
    }
}

@media (max-width: 800px)
{
    .contact-view
    {
        left: 100%;
        min-width: 320px;
        width: 100%;
    }

    .contact-view #back
    {
        background-color: #777777;
        color: #cccccc;
        border-radius: 5px;
        height: 50px;     
        cursor: pointer;  
    }

    .contact-view .back-text
    {
        font-size: 20px;
        padding: 15px;       
    }

    .contact-view .name
    {
        font-size: 24px;
    }

    .contact-view .label
    {
        font-size: 12px;
        min-width: 40px !important;
        max-width: 50px !important;
    }

    .contact-view .value 
    {
        margin-left: 5px;
        font-size: 18px;
    }
}